body{
	font-size: 16px;
	color: #fff;
	background-color: #ffc107;
	 

}

/**header**/
#header-nav {

  background-color:  #f6b319;

  border-radius: 0;

  border: 0;

}
.navbar-brand {

  padding-top: 25px;

}

.navbar-brand h1 { /* Restaurant name */

color: #fff;

  font-size: 1.5em;

  text-transform: uppercase;

  font-weight: bold;

  text-shadow: 1px 1px 1px #222;

  margin-top: 0;

  margin-bottom: 0;

  line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {

  text-decoration: none;
}
button.navbar-toggle {

  clear: right;

  margin-top: 30px;

}
/* end of header*/

/**main-content**/

#home-tile{
	background-color: #f6b319;
}
#nav-list {

  margin-top: 10px;

}

#nav-list a {

  color: #951C49;

  text-align: center;

}

#nav-list a:hover {

  background: #E7E7E7;

}

#nav-list a span {

  font-size: 1.8em;

}



/*end of main-content*/


/********** Large devices only **********/

@media (min-width: 1200px)

/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px)


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px){

	





